
.home__row {
    display: flex;
   
}
.product__info{
    object-fit: contain;
    margin-top: -40px;

}
 
h1, h4{
    margin-left:40px;
    font-weight: 300;
}

.product__info > button{
    margin-left: 40px;
    display: block;
}